/* Frame 1686552289 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 60px;

position: absolute;
width: 388px;
height: 1781px;
left: 20px;
top: 455px;



/* Frame 1686552286 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 388px;
height: 839px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hitung Jasmani TNI */

width: 388px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
/* identical to box height */

/* Hitam */
color: #212121;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552252 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 60px;

width: 388px;
height: 765px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552228 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 388px;
height: 654px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552227 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 388px;
height: 69px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 69px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Jenis Kelamin */

width: 95px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:gender-male-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.29%;
top: 13.28%;
bottom: 10.14%;

/* Hitam */
background: #212121;


/* Jenis Kelamin */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 69px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Usia */

width: 31px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:person-simple-run-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.27%;
top: 10.16%;
bottom: 7.03%;

background: #000000;


/* Usia */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Frame 1686552230 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 388px;
height: 69px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 69px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Tinggi */

width: 44px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:person-simple-run-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.27%;
top: 10.16%;
bottom: 7.03%;

background: #000000;


/* Jenis Kelamin */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 69px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Berat */

width: 37px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:gender-male-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.29%;
top: 13.28%;
bottom: 10.14%;

/* Abu */
background: #ABABAB;


/* Jenis Kelamin */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Frame 1686552228 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 388px;
height: 69px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 69px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Kategori */

width: 59px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

/* Abu */
background: #ABABAB;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:gender-male-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.29%;
top: 13.28%;
bottom: 10.14%;

/* Hitam */
background: #212121;


/* Kategori */

width: 128px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Hitam */
color: #212121;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 69px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Index BMI */

width: 68px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

/* Abu */
background: #ABABAB;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:gender-male-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.29%;
top: 13.28%;
bottom: 10.14%;

/* Hitam */
background: #212121;


/* Index BMI */

width: 128px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Hitam */
color: #212121;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552232 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 388px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 86px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* GARJAS A - Jarak Lari 12 Menit (Meter) */

width: 186px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:person-simple-run-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.27%;
top: 10.16%;
bottom: 7.03%;

background: #000000;


/* Jarak Lari */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 86px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* GARJAS B1 - Pull Up (1 Menit) */

width: 186px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:gender-male-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.29%;
top: 13.28%;
bottom: 10.14%;

/* Abu */
background: #ABABAB;


/* Pull Up */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Frame 1686552231 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 388px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 86px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* GARJAS B2 - Sit Up (1 Menit) */

width: 186px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:gender-male-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.29%;
top: 13.28%;
bottom: 10.14%;

/* Abu */
background: #ABABAB;


/* Jenis Kelamin */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 86px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* GARJAS B3 - LUNGES */

width: 186px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ph:gender-male-light */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 10.15%;
right: 13.29%;
top: 13.28%;
bottom: 10.14%;

/* Abu */
background: #ABABAB;


/* Jenis Kelamin */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Frame 1686552229 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 388px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 86px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* GARJAS B4 - Push Up (1 Menit) */

width: 186px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* solar:running-outline */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 5.21%;
bottom: 5.21%;

background: #000000;


/* Jenis Kelamin */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 86px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* GARJAS B5 - Shuttle Run */

width: 186px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* solar:running-outline */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 5.21%;
bottom: 5.21%;

background: #000000;


/* Jenis Kelamin */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Frame 1686552233 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 388px;
height: 69px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 69px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Nilai Garjas B */

width: 90px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Foundation / Gray / gray-500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

background: #FFFFFF;
opacity: 0.5;
/* Abu */
border: 1px solid #ABABAB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* solar:running-outline */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 5.21%;
bottom: 5.21%;

background: #000000;


/* Jenis Kelamin */

width: 104px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

/* Abu */
color: #ABABAB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552251 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* formkit:down */

width: 16px;
height: 7px;

transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 85.86%;
bottom: -64.71%;

/* Hitam */
background: #212121;
transform: matrix(1, 0, 0, -1, 0, 0);


/* formkit:down */

width: 16px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 18.75%;
right: 18.69%;
top: 14.14%;
bottom: 7%;

/* Hitam */
background: #212121;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 69px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1686552226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 186px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 237836 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 16px;
gap: 8px;

width: 186px;
height: 48px;

/* Hijau */
background: #005D76;
opacity: 0.8;
/* Hijau */
border: 1px solid #005D76;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Hitung Nilai Garjas B */

width: 154px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* Putih */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 16px 20px;
gap: 10px;

width: 388px;
height: 51px;

/* Hijau */
background: #005D76;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Hitung */

width: 348px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Putih */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 1686552291 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 387px;
height: 657px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552230 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 216px;

width: 387px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hasil Nilai */

width: 134px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Collapse Arrow */

width: 37px;
height: 30px;

background: url(.png);
transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552290 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 19px;

width: 382px;
height: 597px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector 6 */

width: 382px;
height: 0px;

border: 2px solid #E5E5E5;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1686552234 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 382px;
height: 578px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552231 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 128px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Jenis Kelamin */

margin: 0 auto;
width: 219px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Laki - Laki */

margin: 0 auto;
width: 91px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552238 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 128px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Usia */

margin: 0 auto;
width: 219px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 23 */

margin: 0 auto;
width: 91px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552239 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 128px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Tinggi */

margin: 0 auto;
width: 219px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 170 */

margin: 0 auto;
width: 91px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552240 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 128px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Berat */

margin: 0 auto;
width: 219px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 60 */

margin: 0 auto;
width: 91px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552241 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 128px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Kategori */

margin: 0 auto;
width: 219px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Normal Atas */

margin: 0 auto;
width: 103px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552242 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 128px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Index BMI */

margin: 0 auto;
width: 219px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 26.3 - 27.1 */

margin: 0 auto;
width: 91px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552232 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 123px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Jarak Lari 12 Menit : */

width: 227px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 0 */

width: 25px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552233 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 39px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* Pull Up : */

width: 308px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 0 */

width: 28px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552234 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 39px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;


/* Sit Up : */

width: 308px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 0 */

width: 28px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552243 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 39px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 9;
flex-grow: 0;


/* Lunges : */

width: 308px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 0 */

width: 28px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552235 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 39px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 10;
flex-grow: 0;


/* Push Up : */

width: 308px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 0 */

width: 28px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552236 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 39px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 11;
flex-grow: 0;


/* Shuttle Run : */

width: 308px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 0 */

width: 28px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1686552237 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 39px;

width: 382px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 12;
flex-grow: 0;


/* Nilai Garjas B : */

width: 308px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 0 */

width: 28px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: right;
letter-spacing: 0.003em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 109 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 38px 48px;
gap: 135px;

width: 388px;
height: 165px;

background: rgba(0, 93, 118, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 1686552238 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 292px;
height: 89px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 107 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;

width: 292px;
height: 89px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Nilai Akhir Garjas */

width: 133px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

/* Hijau */
color: #005D76;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 60.78 */

width: 78px;
height: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 50px;
/* identical to box height, or 179% */
text-transform: capitalize;

color: #FF0000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
