@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, h4, h5, label, li{
    font-family: 'Montserrat', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}